body {
  margin: 0;
}

.top-container {
  /* background-image: url(bg.png); */
  width: 100%;
  height: 130vh;
  background-size: 160%;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}


.top-container h1 {
  justify-content: baseline;
  color: white;
  font-size: 50px;
  /* font-family: 'Times New Roman', Times, serif; */
  letter-spacing: 2px;
}

.text {
  margin: 50px 5%;
  font-family: Arial, Helvetica, sans-serif;
}
.centertext{
  text-align: center;
}

.navbar {
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  margin: 0 10px;
  color: black;
  /* font-family: cursive; */
}

.navbar ul li a:hover {
  color: red;
}

.navbar.active {
  background-color: black;
}

.navbar.active ul li a {
  color: white;
}
/* bg scroll thinggy */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}



.container {
  padding: 100px;
}
a.resp{
  font-size: 50%;
}
a.respfooter{
  font-size: 110%;
  color: azure;
}
p{
  font-size: larger;
  color: rgb(83, 83, 83);
  text-align: left;
  padding-left: 30px;
  line-height: 1.6;
}
p.footer{
  padding-right: 5%;
  text-align: right;
  font-size: 80%;
  color: azure;
}
pre{
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: rgb(83, 83, 83);
  text-align: left;
  padding-left: 30px;
  line-height: 1.6;
}
div.about{
  padding-left: 9%; 
  padding-right: 9%;
}
h1 {
  font-size: 400%;
}
h2 {

  color: rgb(45, 75, 62);
  text-align: center;
}
h3{
  color: rgb(69, 69, 69);
  font-size: 50px;
  text-align: center;
}

@media (max-width: 500px) {
  .container {
    padding: 10px;
  }
}
.responsive {
  padding: 1%;
  float: right;
  width: 100%;
  max-width: 350px;
  height: auto;
}
.rresponsive {
  padding: 1%;
  float: left;
  width: 100%;
  max-width: 350px;
  height: auto;
}
/* side bar */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ebebeb;
}

.menu1 a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  color: grey;
  transition: all 0.3s linear;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

.fa-bars {
  padding-left: 17px;
  /* position: fixed; */
  top: 2rem;
  /* right: 3rem; */
  color: #e94949;
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-bars:hover {
  color: black;
}

.fa-times {
  font-size: 1.5rem;
  color: #e94949;
  cursor: pointer;
}

.fa-times:hover {
  color: black;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.logo {
  margin-left: -15px;
}

@media (min-width: 676px) {
  .sidebar {
    width: 500px;
  }
}

.menu a:hover {
  font-family: 'Courier New', Courier, monospace;
  background: #f8a5a5;
  padding-left: 1.7rem;
}
